a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 8vh;

}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

#login{
    color: green;
}

#logout{
    color: red;
}