a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

ul{
    list-style: none;
    background-color: black;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    padding: 15px;
    width: 100%;
    background: black;
    position: absolute;
    z-index: 999;
    display: none;
    
}

ul li:hover ul.dropdown{
    display: block;
}

.pagina{
    display: block;
}

#paginaDrop{
    padding-top: 15px;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 8vh;

}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

#login{
    color: green;
}

#logout{
    color: red;
}