:root{
  --bg-menu: #A8A8A8;
  --logo-width: 150px;
  --content-header-height: 60px;
  --content-footer-height: 20px;
}

html, body {
  margin:0;
  padding:0;
}

body{
  box-sizing: border-box;
  font-family: Roboto;
}

.App{
  margin: 0px;
  grid-template-columns:var(--logo-width) 1fr;
  grid-template-rows:var(--content-header-height) 1fr var(--content-footer-height);
  grid-template-areas:
  "logo menu"
  "content content"
  "footer footer";
  height: 100vh;
}

aside.logo{
  grid-area: logo;
}

nav.menu{
  grid-area:menu;
}

div.content{
  grid-area: content;
}

footer.footer{
  grid-area: footer;
}